@function rem ( $px ) {
  @return $px  / 46.875 +  rem;
}

#index {
  position: relative;
  .header {
    width: 100%;
    height: rem(268);
    background-color: rgba(7, 17, 27, .5);
    //filter:blur(rem(10));
    overflow: hidden;
    .header1 {
      position: relative;
      overflow: hidden;
      height: rem(212);
      .avatar {
        float: left;
        border-radius: rem(4);
        img {
          margin: rem(48) rem(32) rem(36) rem(48);
        }
      }
      .introduction {
        float: left;
        ul {
          margin-top: rem(4);
          li:nth-child(1) {
            margin-top: rem(48);
            overflow: hidden;
            div {
              float: left;

            }
            h2 {
              float: left;
              font-size: rem(32);
              color: rgb(255, 255, 255);
              font-weight: bold;
              line-height: rem(36);
              margin-left: rem(12);
            }
          }
          li:nth-child(2) {
            margin-top: rem(16);
            p {
              font-size: rem(20);
              color: #fff;
              line-height: rem(24);
              font-weight: 200;
            }
          }
          li:nth-child(3) {
            overflow: hidden;
            clear: both;
            margin-top: rem(20);
            img {
              float: left;
              display: inline-block;
              margin-bottom: rem(4);
            }
            .annotated {
              float: left;
              font-size: rem(20);
              color: #fff;
              font-weight: 200;
              line-height: rem(24);
              margin-left: rem(8);
            }
            p:last-child {
              position: absolute;
              bottom: rem(18);
              right: rem(24);
              font-size: rem(20);
              color: #fff;
              font-weight: 200;
              line-height: rem(24);
              padding: rem(14) rem(16);
              background-color: rgba(0, 0, 0, .2);
              border-radius: rem(40);
              span {
                margin-left: rem(4);
              }
            }
          }
        }
      }
    }
    .announcement {
      overflow: hidden;
      width: 100%;
      height: rem(56);
      background-color: #403C39;
      img {
        display: block;
        float: left;
        margin-left: rem(24);
        margin-right: rem(8);
        margin-top: rem(14);
      }
      p {
        float: left;
        width: rem(620);
        font-size: rem(20);
        color: #fff;
        font-weight: 200;
        line-height: rem(56);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      span {
        float: left;
        color: #fff;
        margin-left: rem(8);
        line-height: rem(56);
        font-size: rem(24);
      }
    }
  }
  .nav {
    width: 100%;
    height: rem(80);
    line-height: rem(80);
    ul {
      overflow: hidden;
      li {
        float: left;
        width: 33%;
        height: rem(80);
        text-align: center;
        font-size: rem(28);
        color: rgb(77, 85, 93);
        line-height: rem(80);
      }
      li:first-child {
        color: rgb(240, 20, 20);
      }
    }
  }
  .content {
    overflow: hidden;
    border-top: 2px solid #E5E5E5;
    .side {
      float: left;
      background-color: #F3F5F7;
      ul {
        li {
          padding: rem(0) rem(24);
          width: rem(112);
          height: rem(108);
          font-size: rem(24);
          color: #07111B;
          font-weight: 200;
          p {
            border-bottom: 1px solid rgba(7, 17, 27, .1);
            line-height: rem(108);
          }
          img {
            float: left;
          }
        }
        li:nth-child(2) {
          background-color: #fff;
          p {
            margin: 0 auto;
            padding-top: rem(27);
            line-height: rem(25);
            border: none;
            font-weight: 600;
          }
        }
      }
    }
    .sidec {
      float: left;
      .title {
        padding-left: rem(28);
        border-left: 5px solid #D9DDE1;
        width: rem(558);
        height: rem(52);
        background-color: #F3F5F7;
        font-size: rem(24);
        line-height: rem(52);
        color: #969CA2;
        font-weight:600;
      }
      .wrap {
        position: relative;
        overflow: hidden;
        padding: rem(36) rem(36) rem(26) rem(36);
        img {
          float: left;
        }
        ul {
          float: left;
          margin-left: rem(20);
          font-size: rem(28);
          li:first-child {
            padding-top: rem(4);
            color: rgb(7, 17, 27);
            line-height: rem(28);
            font-weight: 600;
          }
          li {
            font-size: rem(20)/rem(28);
            margin-bottom: rem(16);
            color: rgb(147, 153, 159);
          }
          li:last-child {
            p {
              float: left;
            }
            p:nth-child(1){
              color: rgb(240,20,20);
              font-weight:normal/900;
            }
            p:nth-child(2) {
              margin-left: rem(16);
            }
            p:nth-child(3) {
              position: absolute;
              bottom:rem(13);
              right:rem(36);
              width:rem(48);
              height:rem(48);
              text-align: center;
              color: #fff;
              line-height:rem(48);
              float: right;
              border-radius: 50%;
              font-size:rem(48);
              background-color: #00A0DC;
            }
          }
        }
      }
    }
  }
}

